<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Canción</title>
</head>
<body>
    <h1>Agregar Nueva Canción</h1>
    <form action="/canciones" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <br>
        <label for="artistita">Artista:</label>
        <input type="text" id="artistita" name="artistita" required>
        <br>
        <label for="duracion">Duración:</label>
        <input type="text" id="duracion" name="duracion" required>
        <br>
        <label for="url">Enlace de YouTube:</label>
        <input type="url" id="url" name="url" required placeholder="https://www.youtube.com/...">
        <br>
        <button type="submit">Agregar Canción</button>
    </form>
</body>
</html>
